.box-presentation {
  display: flex;
  flex-direction: column;

  align-items: center;

  h1 {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 4rem;
    // font-family: var(--font-familly-logo);
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  }
  p {
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  }
  button {
    margin: 3rem 0;
  }
}

.content-scroll {
  overflow: hidden;
}
.fct {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #7158e2;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: stretch;
  }

  ul {
    display: flex;
    flex: auto;
    padding: 1rem;
    justify-content: space-around;
    @include intermediare {
      flex-flow: row wrap;
      align-items: baseline;
      justify-content: start;
      li {
        padding: 1.5rem;
      }
    }
    @include sm {
      align-items: initial;
    }
  }
  div.btn {
    position: relative;
    background: #ffffff;
    border: 1px solid var(--color-fond);
  }
  .number {
    position: absolute;
    left: -1.4rem;
    bottom: 1rem;
    background: var(--color-fond);
    color: white;
  }
  .icon,
  .description {
    padding: 0 0.5rem;
  }
}
.box-restaurant {
  background: var(--color-gray-light);
}
.list-restaurant {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: white;

  .btn-right,
  .btn-left {
    flex: 0 0 10%;
    text-align: center;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
  }

  .box-resto {
    // padding: 2rem;
    max-width: 130rem;
    overflow: hidden;

    margin: 2rem 0;
    .list-resto {
      display: flex;
    }
    .resto {
      flex: 0 0 35%;
      transition: 0.5s transform cubic-bezier(0.21, 0.66, 0.39, 0.43);

      background: white;
      padding: 2rem;
      @include intermediare {
        flex: 0 0 50%;
      }
      @include sm {
        flex: 0 0 100%;
      }

      .element-resto {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: 1px solid var(--color-gray-light);
        height: 100%;
        img {
          width: 100%;
        }
      }
      .resto-description {
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        padding: 2rem;
        position: relative;
        top: -3rem;
        background: white;
        .resto-title {
          font-weight: 700;
        }
        .resto-ville {
          color: var(--color-gray-dark);
        }
      }
      .box-btn {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        line-height: 2;
      }
    }
  }
}
// .box {
//   width: 100%;
//   height: 100vh;
//   border: 1px solid blue;

//   img {
//     width: 100%;
//     // height: 40rem;
//   }
// }
.box-btn-controller {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: white;
  button {
    margin: 0 2rem;
    padding: 1rem 2rem;
  }
}
